body{
    margin: 0;
    text-align: center;
    font-family: 'Handlee', cursive;
}

h1{
    margin-top: 0;
    font-family: 'Chakra Petch', sans-serif;
}

h2{
    font-family: 'Chakra Petch', sans-serif;
}

h3{
    font-family: 'Sawarabi Gothic', sans-serif;
}

p{
  font-family: 'Sawarabi Gothic', sans-serif;
}
hr{
    border: 5px solid #293462;
    border-radius: 5px;
    width: 70%;
}

div{
    background-color: #1CD6CE;
}

.top-container{
    background-color: #D61C4E;
    position: relative;
    padding-top: 100px;
}

.middle-container{

}

.bottom-container{

}

.top-cloud{
    position: absolute;
    top: 50px;
    right: 300px;
}

.mountain{
    position: relative;
    top: 6px;

}

.bottom-cloud{
    position: absolute;
    bottom: 350px;
    left: 300px;
}
#me-img{
    margin-top: 10px;
    width: 300px;
}