body{
    margin: 0;
    text-align: center;
    font-family: 'Handlee', cursive;
    font-size: 200%;
}

h1{
    font-size: 5.625rem;
    margin: 50px auto 0 auto;
    font-family: 'Chakra Petch', sans-serif;
    color: #293462;
    #line-height: 2;
}

h2{
    font-family: 'Chakra Petch', sans-serif;
    font-size: 2.5rem;
    color: #293462;
    #font-weight: normal;
}

h3{
    font-family: 'Sawarabi Gothic', sans-serif;
    color: #293462;
    font-weight: normal;
}

p{
  font-family: 'Sawarabi Gothic', sans-serif;
}
hr{
    border: 5px solid #D61C4E;
    border-radius: 5px;
    width: 70%;
}

div{
    background-color: #1CD6CE;
}
a{
    color: #FEDB39;
}

.top-container{
    background-color: #1CD6CE;
    position: relative;
    padding-top: 100px;
}

.middle-container{

}

.bottom-container{

}

.top-cloud{
    position: absolute;
    top: 50px;
    right: 300px;
}

.mountain{
    position: relative;
    top: 12px;

}

.bottom-cloud{
    position: absolute;
    bottom: 350px;
    left: 300px;
}

.skill-img{
    border-radius: 50%;
}

#me-img{
    margin-top: 10px;
    width: 300px;
}